* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: dimgray;
    margin: auto;
}
.contenedor{
    max-width: 1000px;

}
#header{    
    margin: auto;
    background-color: grey;
    padding-top: .5em;
    padding-bottom: .5em;
}


#datos-personales{    
    background-color: darkgray;
    border-radius: .5em;
    margin: auto 0;
    padding: .5em;
    text-align: justify;
}

#foto{
    background-image: url("../img/presentacion.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 70%;
    width: 6em;
    height: 9em;
    margin: 0 auto;
    padding: .5em;
}

#presentacion p{
    margin: auto 0;
    font-size: 1em;
}

.etiqueta{
    text-transform: capitalize;
    font-weight: bold;
    text-decoration: underline;
}

.contenido {    
    text-align: justify;
    margin: .5em;
}

div.titulo:hover{
    background-color: darkblue;
    cursor: pointer;
}
div.titulo{
    text-align: left;
    font-size: large;
    font-weight: bold;
    background-color: blue;
    width: auto;
    border-radius: .25em;
    padding: .25em ;
    margin: 0 auto;
}

