.contenedor {
    display: grid;
    grid-gap: 15px;
    grid-template-columns:  1fr 1fr;
    grid-template-areas: "header header"
                         "presen presen"
                         "exper exper"
                         "skills skills";
    align-items: flex-start;
                     
}
.contenedor #header{
    grid-area: header;
    grid-column: 1/-1;
    grid-row: 1/2;
}

.contenedor #presentacion{
    grid-area: presen;
    grid-column: 1/-1;
    grid-row: 2/3;
}


.contenedor #experiencias{
    grid-area: exper;
    grid-column: 1/-1;
    grid-row: 3/4;
}

.contenedor #skills{
    grid-area: skills;
    grid-column: 1/-1;
    grid-row: 4/5;
}
