main{
    display: grid;
    grid-template-columns: 150px repeat(3, 1fr);
    grid-template-rows: repeat(3,auto);
    grid-template-areas: "aside presentacion presentacion presentacion"
                         "aside experiencia experiencia experiencia"
                         "aside habilidades habilidades habilidades";
    justify-items: auto;
    gap: 10px;   
}

main aside nav#menu{
    grid-area: aside;
}

main section#presentacion{
    grid-area: presentacion;
}

main section#experiencias{
    grid-area: experiencia;
}


main section#habilidades{
    grid-area: habilidades;
}

section#habilidades, section#experiencias{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,auto);
    grid-template-areas: "seccion seccion"
                         "detalle detalle";
    gap: 5px;   
}

section#habilidades h2.titulo, section#experiencias h2.titulo{
    grid-area:seccion;
}

section#habilidades div.titulo, section#experiencias div.titulo{
    grid-area:detalle;
}


@media screen and (max-width:720px){
    aside, main{
        padding: 0;
        margin: 0;
    }
    section#habilidades, section#experiencias{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "seccion"
                             "detalle";
        gap: 5px;   
    }
    main{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "aside"
                             "presentacion"
                             "experiencia"
                             "habilidades";
        gap: 5px;   
    }
    .titulo{
        margin: auto;
    }
    .contenido{
        margin: auto;
    }
    
}